body {
    margin: 20px 0px 0px 0px;/*銝����椰*/
    padding: 0;
    background: #FFFFCC;
    font-size:20px;
    color: #3C3D3F;
    /*
    background-image:url(../images/back001.gif);
    background-repeat: repeat;
    */
    background-color:#E9F2FF;

    font: normal 16px Verdana;
    width:100%;

}