@page {
    size: A4 portrait;
    margin: 1.27cm;
}

@media print {
    input, textarea{
        border-style: none;
        background-color: inherit;
        page-break-inside: avoid;
    }
    p, label{
        page-break-inside: avoid;
    }
    html{
        position: relative;
        page-break-after: always;
    }
    .no-print{
        display: none;
    }

    iframe{
        min-height: 29.7cm;
    }
}
.print-page{
    width: 21cm;
}