@page {
    size: A4 portrait;
    margin: 1.27cm;
}

@media print {
    body{
        margin: 0;
    }
    input, textarea{
        border-style: none;
        background-color: inherit;
    }
    iframe.print-page{
        display: block;
        page-break-after: always;
    }
    p, textarea{
        display: block;
        page-break-inside: avoid;
    }
    div.content {
        margin: 0;
    }
    .no-print{
        display: none;
    }
    .page-break-before{
        display: block;
        page-break-before: always;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

iframe.print-page{
    width: 21cm;
}