@page {
    size: A4 portrait;
    margin: 1.27cm;
}

@media print {
    input, textarea{
        border-style: none;
        background-color: inherit;
    }
    .no-print{
        display: none;
    }

    iframe{
        display: block;
        page-break-after: always;
    }
    p, textarea{
        display: block;
        page-break-inside: avoid;
    }
    .page-break-before{
        display: block;
        page-break-before: always;
    }
}
.print-page{
    width: 21cm;
}